.stb-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 720px;
    height: 576px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-modal.hidden {
        display: none; }
    .stb-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .stb-component-modal > div > div.body {
            display: inline-block;
            overflow: hidden;
            background-color: #333;
            padding: 3%;
            max-width: 80%;
            max-height: 80%; }
    .stb-component-modal.focus {
        outline: 1px dashed red; }
